body {
    background-color: powderblue;

}

.dashboard {
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.challenger-panel {
    border-style: solid;
    
}
